.Header {}

.Header ant-menu-item {
    margin-left: 100px;
}

.feature {
    font-size: 16px;
    padding-top: 40px;
    padding-left: 50px;
    background: rgba(0,191, 255, 0.2);
    /* background: rgba(65, 105, 225, 0.2); */
}

.feature>h1 {
    font-size: 40px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 800px;
    line-height: 800px;
    background: rgba(65, 105, 225, 0.0);
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}
.materialCenterIntro {
    font-size: 16px;
    padding-top: 40px;
    padding-left: 50px;
    background: rgba(65,105, 225, 0.2);
    display: flex;
    flex:0 0 1;
    flex-wrap: wrap;
    align-items: center;
    /* background: rgba(65, 105, 225, 0.2); */
}
.materialCenterIntro>.left{
    flex-basis: 34%;
    padding:0 20px ;

}
.materialCenterIntro>.right{
    flex-basis: 65%;
    padding:0 20px ;
}
.materialCenterIntro>h1{
    flex-basis: 100%;
}

/* FEATURE */

.featureContent {
    display: flex;
}

.featureLeft {
    width: 30%;
    font-size: 1rem;
    line-height: 30px;
}

.featureLeft>b {
    margin-top: 50px;
    font-size: 24px;
    line-height: 30px;
}

.featureLeft>ul {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16rem;
    /* color: white; */
}


/* 用户 */
.Users{
    font-size: 16px;
    padding-top: 40px;
    padding-left: 50px;
    background:  rgba(244, 244, 244,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.componentsUsers{
    flex-basis: 70%;
    justify-content: start;
    flex-direction: row;
    display: flex;
    flex: 1 1 auto;
}

.featureLeft li {
    font-size: 16px;
    /* color: white; */
}

.featureRight {
    padding-left: 5%;
    width: 70%;
}

.Intro {
    text-align: center;
}

.Intro>h1 {
    margin-top: 10px;
    font-size: 50px;
}

.Intro>h2 {
    font-size: 25px;
}

/* 主页面 */
.extensionMain{
    /* background: antiquewhite; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: -2;
}

.badge>*{
    margin: 1px 2px;
}
/* footer */
.footer{
    background:black ;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 20px;
    flex:0 0 1;
    display: flex;
}
.footer *{
    color: white;
    opacity: 1;
}
.footer img{
    filter: invert(100%);
    /* background: white; */
    max-height:48px ;
}
.footer li{
    margin: 20px 0;
    font-size: 24px;
    flex-basis: 100%;
    list-style-type:none;
}
.footer li>a{
    padding-left: 10px;
    color: white;
    line-height: 48px;
}
.footerLeft{
    flex-basis: 30%;
}
.footerLeft ul{
    padding-left: 0;
}
.footerRight{
    align-items: center;
    flex-basis: 70%;
}
.footer>h1{
    flex-basis: 100%;
}