.title{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.users{

    display: flex;
    justify-content: center;
}
.users>*{
    margin-top: 15px;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
}
.components>*{
    height: 30px;
    padding-left: 10px;
}
.extensionMain{
    /* background: antiquewhite; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: -2;
}
.demo{
    width: 70%;
    margin:auto;
    
}



/* 跑马灯 */
.ant-carousel .slick-slide {
    text-align: center;
    height: 900px;
    line-height: 900px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  #canvas{
      height: 80%;
      width: 100%;
  }
